header{
    margin: 5px;
    text-align: center;
    background-color: #3D405B;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 11px 10px 20px 4px rgba(0,0,0,0.74);
}
.tableprocess{
    margin: 5px;
    box-shadow: 11px 10px 20px 4px rgba(134, 130, 130, 0.74);
}
body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 7px;
    font-size: 15px;
    box-shadow: 11px 10px 20px 4px rgba(174, 172, 172, 0.74);
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
h2{
    margin-left: 15px;
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 30px;
}
h3{
   font-family: 'Courier New', Courier, monospace;
   font-size: 20px;
}
.RQ{
    text-align: center; 
    color:white; 
    font-size: 20px; 
    margin-right: 14.5px; 
    margin-left: 10px; 
    height:35px; 
    background-color: #3D405B;
    
}
.addjob ,.start ,.reset ,.ter,.CDQ,.USB{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    margin: 3.5px;
}
.CDQ{
    background-color:#52fa7f  
}
.addjob{
    background-color:#52fa7f;
}
.addjob:hover ,.start:hover  ,.ter:hover ,.CDQ:hover ,.USB:hover{
    background-color: rgb(51, 255, 0);
}
.USB{
    background-color: #E63946;
}
.USB:hover{
    background-color: rgb(255, 0, 0);
}
.reset{
    background-color: #F9F07A;
}
.reset:hover{
    background-color: rgb(255, 238, 0);
}
caption {
    font-weight: bold;
    background-color: #3D405B;
    color: #fff;
    padding: 5px;
    font-size: 20px;
}
table {
    border: 1px solid #333;
    border-collapse: collapse;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

th,td{
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}
.scrollbar{
    display: flex;
    overflow-y: auto;
    height: 250px;
    margin-left: 5px;
    
    box-shadow: 11px 10px 20px 4px rgba(174, 172, 172, 0.74);
    width: 99%;
}
.rdqio{
    display: flex;
    justify-content: space-around;  
}
.box1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    
}

tr.running {
    background-color: #58ff58; /* Green color for the running status */
}
tr.terminate {
    background-color: #ff4f4f; /* Red color for the terminated status */
}
tr.ready {
    background-color: #ffff52; /* Red color for the terminated status */
}
tr.waiting{
    background-color: #ff9539;
}